
.personal-details h1{
    color: rgb(240, 240, 245);
}
.personal-details p {
    color: rgb(178, 180, 205);
}

.personal-skills h2{
    color: rgb(240, 240, 245);
}
.personal-skills p {
    color: rgb(178, 180, 205);
}
.skillset h4{
    color: rgb(240, 137, 81);
}
.code {
    color: rgb(240, 240, 245);
}