#contact{
    position: relative;
 /*   left: 22vw;  */
}
#contact a{
    font-size: 50px;
}
.contact-card{
    background: #41456096;
    width: 290px;
    height: 105px;
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
}
.contact-card:hover{
    background: #222435;
}
.contact-link{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #FDDCB0;
    transition: color ease 0.3s;

}

.contact-link::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -9px;
    bottom: 0;
    width: 104%;
    height: 25%;
    background: #32354D;
    transition: all ease 0.3s;
}
.contact-link:hover a{
    color: #FDDCB0;
    text-decoration: none;
}
.contact-link:hover::after{
    height: 100%;
}

@media only screen and (max-width: 600px){
    #contact a{
        font-size: 3rem;
    }
}